@use "../abstracts" as *;

.banner {
    color: var(--color-white);
    font-weight: 500;
    background: var(--gradient-green);
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    margin-block-end: 15px;

    &__wrap {
        padding-block: 44px;
        display: flex;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: calc(50% - 290px);
            width: 580px;
            height: 580px;
            background: url('../images/media/bg4.png')no-repeat center / contain;
            transform: rotate(22deg);
            opacity: .35;
        }
    }

    &__col {
        flex: 0 0 50%;

        &:first-child {
            padding-block-end: 120px;
            z-index: 1;
        }

        &:only-child {
            flex: 1;
        }
    }

    &__label {
        display: inline-block;
        margin-block-end: 5px;
        padding: 12px 30px;
        font-size: 18px;
        line-height: 27px;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 15px;
    }

    &__title {
        margin-block: 30px;
        font-family: 'LackLineregular';
        font-weight: 600;
        font-size: 70px;
        line-height: 1.15em;

        span {
            display: block;
        }
    }

    &__desc {
        max-width: 50%;
        font-size: 25px;
        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.5);
    }

    &__btn {
        margin-block-start: 60px;
    }

    @media screen and (max-width: 1200px) {

        &__wrap {
            padding-block: 10px;

            &::after {
                opacity: 0.15;
            }
        }

        &__label {
            padding-block: 5px;
        }

        &__title {
            font-size: 32px;
        }

        &__desc {
            max-width: unset;
            font-size: 21px;
        }

        &__btn {
            margin-block-start: 40px;
        }

    }
}
