@use "../abstracts" as *;

.button {
    padding: 25px 45px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    font-family: inherit;
    border-radius: 27px;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);

    &_big {
        padding: 26px 48px;
        font-size: 25px;
        border-radius: 35px;
    }

    @media screen and (max-width: 1200px) {

        &_big {
            padding: 12px 30px;
            font-size: 22px;
            border-radius: 24px;
        }
    }
}
