@use "../abstracts" as *;

.preview {
    margin: 0 auto 32px;
    max-width: var(--wrap-width);

    &:nth-child(1) {
        font-family: 'GolosTextWebBold';
    }
    &:nth-child(2) {
        font-family: 'GolosTextWebDemiBold';
    }
    &:nth-child(3) {
        font-family: 'GolosTextWebMedium';
    }
    &:nth-child(4) {
        font-family: 'GolosTextWebRegular';
    }
    &:nth-child(4) {
        font-family: 'GolosTextWebVF';
    }

    h2 {
        margin-block-end: 20px;
        font-family: 'GolosTextWebBold';
    }
    
    p {
        margin-block-end: 12px;
    
        :last-child {
            margin: 0;
        }
    }
}
