@use "../abstracts" as *;

.services {
    padding-block-start: 45px;
    font-size: 0;

    &__title {
        font-size: 55px;
        margin-block-end: 50px;
    }

    &__content {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        width: 50%;
        font-size: 1rem;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        font-weight: 500;
    }

    &__desc {
        font-size: 25px;
        line-height: 1.5em;
        color: var(--color-text-mid);
    }

    &__slider {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }

    .swiper-slide {
        text-align: center;

        img {
            transition: all 0.25s ease-in-out;
            opacity: 0;
            transform: scale(0.75);
        }

        &.swiper-slide-active img {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    .swiper-button-disabled {
        transform: scale(0.7);
    }

    [class*="swiper-button"] {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
        transition: transform 0.25s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 16px;
            height: 20px;
            background: url('../images/slider-arrow.svg')no-repeat center / contain;
        }

        &[class*="next"]::after {
            transform: rotate(180deg);
        }
    }

    @media screen and (max-width: 1200px) {
        margin-inline: -16px;

        &__content {
            text-align: center;
            width: 100%;
            min-height: 135px;
        }

        &__title {
            font-size: 30px;
            margin-block-end: 25px;
        }

        &__text {
            padding-inline: 16px;
            transform: unset;
        }

        &__desc {
            font-size: 1.2rem;
        }

        &__slider {
            width: 100%;
        }

        [class*="swiper-button"] {
            width: 40px;
            height: 40px;

            &::after {
                width: 8px;
                height: 10px;
            }
        }

        
    }
}
