<div class="banner">
    <div class="wrap">
        @@include('header.html')

        <div class="banner__wrap">
            <div class="banner__col">
                <div class="banner__label">Замануха!</div>
                <h1 class="banner__title">
                    <span>Смарт&nbsp;-&nbsp;ремонт</span>
                    <span>для смарт&nbsp;-&nbsp;техники</span>
                </h1>
                <p class="banner__desc">Валера чинит всё! Даже то, что никогда не видел в глаза.</p>
                <button class="banner__btn button button_big">кнопка зачем-то</button>
            </div>
        </div>
    </div>
</div>