<div class="contacts" id="contacts">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__col">
        <div id="map"></div>
    </div>
    <div class="contacts__col">
        <ul class="contacts__info">
            <li><span>Адрес</span>г.Щёлково, ул. 8 Марта, д.29 </li>
            <li><span>Телефон</span><a href="tel:+79854292518">+7 985-429-25-18</a></li>
            <li><span>Email</span><a href="mailto:otremontiruy.vse@gmail.com">otremontiruy.vse@gmail.com</a></li>
        </ul>
    </div>
</div>