@font-face {
    font-family: 'Poppins-Reg';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Naftalene';
    src: url('../fonts/Naftalene/naftalene.woff2') format('woff2'),
         url('../fonts/Naftalene/naftalene.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
