@mixin mq($from) {
    @media (min-width: $from) {
        @content;
    }
}

@mixin templateBlock() {
    max-width: 1270px;
    margin: 0 auto;
    padding-inline: 80px;
}

@mixin hideScrollbar() {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0 !important;
    }
}