@use 'vars';

@mixin mq($from) {
    @media (min-width: $from) {
        @content;
    }
}

@mixin logo($size) {
    width: $size;
    height: $size;
    background: url('../images/logo.png')no-repeat center / contain;
}

@mixin hideScrollbar() {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0 !important;
    }
}