:root {
    --wrap-width: 1200px;
    --mq-desk: 1200px;

    --color-bg: #F6F6F6;
    --color-white: #FFFFFF;
    
    --color-text: #0F1F1C;
    --color-text-mid: #0f1f1c80;
    
    --color-main: #FF7C4E;
    --color-main-light: #FFBDA7;

    --color-green: #428E5F;

    --gradient-green: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%);
}
