.wrap
  #about.about
    h2.about__title О мастерской
    .about__content
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        | dolore magna aliqua. Id diam vel quam elementum. Non sodales neque sodales ut etiam sit amet nisl.
        | Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Quis blandit turpis cursus in hac
        | habitasse platea dictumst. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Bibendum est
        | ultricies integer quis. Scelerisque eu ultrices vitae auctor. Lacus viverra vitae congue eu consequat ac
        | felis donec et. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Feugiat vivamus at
        | augue
        | eget arcu dictum. Malesuada fames ac turpis egestas maecenas pharetra convallis. Facilisis mauris sit
        | amet
        | massa vitae tortor condimentum lacinia. Ut consequat semper viverra nam. Sed sed risus pretium quam
        | vulputate dignissim suspendisse in est. Ut placerat orci nulla pellentesque dignissim enim sit amet
        | venenatis.
      p
        | Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Bibendum at varius vel pharetra vel
        | turpis. Tellus in metus vulputate eu. Semper eget duis at tellus at urna condimentum. Tortor at auctor
        | urna
        | nunc id cursus metus aliquam. Odio eu feugiat pretium nibh ipsum. Erat velit scelerisque in dictum non.
        | Aliquam purus sit amet luctus venenatis lectus magna fringilla urna.
      p
        | Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Dui sapien eget mi proin sed. Ipsum
        | suspendisse
        | ultrices gravida dictum fusce ut placerat orci nulla. Ultrices in iaculis nunc sed augue lacus viverra.
        | Nullam ac tortor vitae purus. Odio eu feugiat pretium nibh ipsum consequat. In hendrerit gravida rutrum
        | quisque non tellus. Id cursus metus aliquam eleifend mi!
