.banner
    .wrap
        include _header

        .banner__wrap
            .banner__col
                .banner__label Замануха!
                h1.banner__title
                    span Смарт - ремонт
                    span для смарт - техники
                p.banner__desc Валера чинит всё! Даже то, что никогда не видел в глаза.
                button.banner__btn.button.button_big кнопка зачем-то
