#contacts.contacts
    h2.contacts__title Контакты
    .contacts__col
        #map
    .contacts__col
        ul.contacts__info
            li
                span Адрес
                | г.Щёлково, ул. 8 Марта, д.29
            li
                span Телефон
                a(href='tel:+79854292518') +7 985-429-25-18
            li
                span Email
                a(href='mailto:otremontiruy.vse@gmail.com') otremontiruy.vse@gmail.com
