header.header
    a.header__logo(href="javascript:void(0)")
        img(src=require('../../images/logo.png') area-hidden="true" alt='BrightLights')
    nav.header__nav 
        li 
            a(href="javascript:void(0)") About
        li 
            a(href="javascript:void(0)") News
        li 
            a(href="javascript:void(0)") Music
        li 
            a(href="javascript:void(0)") Media
        li 
            a(href="javascript:void(0)") Tours
        li 
            a(href="javascript:void(0)") Contacts