<div class="preview">
    <h2>GolosTextWebBold</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.</p>

    <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Nunc sed blandit libero volutpat sed cras
    ornare arcu dui. Vel pretium lectus quam id leo.</p>
</div>
<div class="preview">
    <h2>GolosTextWebDemiBold</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.</p>

    <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Nunc sed blandit libero volutpat sed cras
    ornare arcu dui. Vel pretium lectus quam id leo.</p>
</div>
<div class="preview">
    <h2>GolosTextWebMedium</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.</p>

    <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Nunc sed blandit libero volutpat sed cras
    ornare arcu dui. Vel pretium lectus quam id leo.</p>
</div>
<div class="preview">
    <h2>GolosTextWebRegular</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.</p>

    <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Nunc sed blandit libero volutpat sed cras
    ornare arcu dui. Vel pretium lectus quam id leo.</p>
</div>
<div class="preview">
    <h2>GolosTextWebVF</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.</p>

    <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Nunc sed blandit libero volutpat sed cras
    ornare arcu dui. Vel pretium lectus quam id leo.</p>
</div>
