@use "../abstracts" as *;

* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;

    &:focus,
    &:active {
        outline: none;
    }
}

button::-moz-focus-inner {
    border: 0;
}

a:focus,
a:active {
    outline: 0;
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    //background: var(--color-bg);
}
*::-webkit-scrollbar-thumb {
    //background-color: var(--color-bg);
    border-radius: 15px;
}

:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    height: auto;
    font-size: 1rem;
    min-width: 320px;
    font-family: "Poppins-Reg";
    color: $color-white;
    background: $color-dark;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        transition: 0.25s ease-out;
        color: inherit;
    }
    a img {
        border: none !important;
    }

    @media screen and (max-width: 1200px) {
        font-size: 17px;
    }
}

main {
    @include templateBlock();
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
}

button {
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

*::selection {
    background-color: $color-main;
    color: $color-white;
}
